{% extends 'base.html' %}

{% block content %}
<p>
    Jako jeden z projektów dowodzących generyczności biblioteki Kitabu powstała aplikacja Hair. Jest to prosta aplikacja internetowa służąca do znajdowania dostępnych terminów i umawiania wizyt u fryzjera.
</p>
<p>
    Aplikacja przewiduje dwa typy użytkowników - potencjalny klient oraz menedżer. Aplikacja nie jest zoptymalizowana pod kątem używania przez menedżerów, ale wykorzystanie panelu administracyjnego wygenerowanego przy pomocy Django sprawia, że można wykonać zadania administracyjne pozwalające na zdefiniowanie parametrów potrzebnych do funkcjonowania rezerwacji w sieci salonów fryzjerskich.
</p>
<p>
    Na początek przyjrzyjmy się możliwościom jakie hair oferuje menedżerom sieci salonów fryzjerskich. Praca odbywa się w panelu administracyjnym pod ścieżką "/admin". W przykładowej bazie dołączonej do projektu login i hasło to odpowiednio "marek" i "lala". Pierwszą rzeczą, którą trzeba zrobić, żeby zacząć pracę jest zdefiniowanie salonów fryzjerskich. Może tych salonów być dowolnie wiele, ale przygotowana na potrzeby tej pracy aplikacja pozwala zarządzać wszystkimi z jednego konta, więc sensowne jest jej użycie do obsługi jednej sieci z centralnym zarządzaniem. 
</p>
<p>
    Drugim krokiem przygotowawczym jest definicja walidatorów rezerwacji, dostępnych później dla poszczególnych fryzjerów lub obowiązujących dla wszystkich. Pierwszy typ walidatorów to godziny pracy (w panelu administracyjnym widoczne jako "Working days". Definiujemy godziny pracy dla poszczególnych dni tygodnia przy czym poniedziałek jest reprezentowany przez liczbę 0, niedziela przez liczbę 6. Dla każdego dnia można podać kilka zakresów godzin pracy - na przykład uwzględniając sjestę czy przerwę obiadową. Można przygotować kilka matryc, na przykład dla pierwszej i drugiej zmiany lub dla pracyjących tylko w tygoniu czy również w soboty. Drugi typ walidatorów to okresy wyłączone z pracy ("Not within period validators"). Można definiować okresy na urlop pojedynczego pracownika lub okresy zamknięcia salonu, na przykład na czas remontu. W pierwszym przypadku taki okres niedostępności należy potem dodakowo przypisać do konkretnego fyzjera w jego oknie w panelu administracyjnym, w drugim przypadku wystarczy zaznaczyć pole "apply to all". Ostatni typ validatorów włączonych do aplikacji to walidatory odległości terminu ("Time interval validators"). Można definiować ich dwa typy - "nie szybciej niż za x czasu" oraz "nie później niż za x czasu". Dla drugiego typu można dodatkowo sprawdzać czy wizyta nie będzie się kończyć później niż zadany termin - służy do tego pole "Check end".
</p>
<p>
    Po zdefiniowaniu salonów, możliwych godzin pracy i innych walidatorów można utworzyć profile fryzjerów ("Hairdressers"). Dla każdego fyzjera wybieramy godziny pracy i ewentualnie inne walidatory uzyskując w pełni zdefiniowaną sieć salonów gotowych do rezerwowania wizyt przez internet.
</p>
<p>
    Dla klientów interfejs jest prostszy i bardziej intuicyjny - to oni mają głównie korzystać z systemu. Aplikacja stara się rozwiązać dwa podstawowe problemy z jakimi się spotykają osoby szukające fryzjera. Pierwszy z nich to problem znalezienia fryzjera na konkretny termin ("Kto mnie przyjmie we wtorek o trzynastej?"), drugi to problem umówienia wizyty z konkretnym fryzjerem ("Kiedy ma Pani czas?"). Rozwiązanie pierwszego jest dostępne pod zakładką "Szukanie fryzjera na termin", by szukać rozwiazania drugiego trzeba przejść do listy fryzjerów i wybrać konkretnego, który nas interesuje. W pierwszym przypadku podajemy termin jaki nas interesuje, w obu podajemy o jaką usługę chodzi - różne usługi rezerwują różny czas na wizytę. Przykładowo na konsultacje wystarczy kwadrans, a na farbowanie włosów potrzeba trzech godzin. Po znalezieniu interesującego terminu wizyty lub fryzjera można zarezerwować wizytę klikając odpowiedni link. Powoduje to utworzenie tymczasowej rezerwacji, która wymaga potwierdzenia, w przeciwym przypadku wygaśnie. W komercyjnym systemie takie potwierdzenie odbywałoby się przez podanie numeru karty kredytowej lub byłoby potwierdzane przez pracownika telefonicznia. W aplikacji Hair potwierdzenie polega na podaniu imienia i numeru telefonu - na potrzeby prezentacji wydaje się być to przejrzystym rozwiązaniem obrazującym ideę. Jeśli klient nie poda imienia i numeru telefonu rezerwacja wygaśnie po pewnym czasie i termin się zwolni dla innych klientów. Czas wygasania rezerwacji definiuje się w panelu administracyjnym dla każdego fryzjera.
</p>
{% endblock content %}
