<!DOCTYPE html>
<html>
    <head>
        <title>Znajdź fryzjera</title>
        <meta charset="utf-8">
        <title>jQuery UI Datepicker - Default functionality</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.4.5/i18n/jquery-ui-timepicker-pl.js"></script>

        <script>
            $(function() {
                $( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
            });
        </script>

        <style media="screen" type="text/css">
            #container
            {
                margin: 0 auto;
                width: 600px;
                background:#fff;
            }

            #header
            {
                background:#ccc;
                padding: 20px;
            }

            #header h1 { margin: 0; }

            #navigation
            {
                float: left;
                width: 600px;
                background:#333;
            }

            #navigation ul
            {
                margin: 0;
                padding: 0;
            }

            #navigation ul li
            {
                list-style-type: none;
                display: inline;
            }

            #navigation li a
            {
                display: block;
                float: left;
                padding: 5px 10px;
                color:#fff;
                text-decoration: none;
                border-right: 1px solid#fff;
            }

            #navigation li a:hover { background:#383; }

            #content
            {
                clear: left;
                padding: 20px;
            }

            #content h2
            {
                color:#000;
                font-size: 160%;
                margin: 0 0 .5em;
            }

            #footer
            {
                background:#ccc;
                text-align: right;
                padding: 20px;
                height: 1%;
            }
        </style>


    </head>

    <body>
    <p>
         
    </p>

    </body>
<div id="container">
    <div id="header">
        <h1>
            Wyszukiwarka fryzjerów
        </h1>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="/">Szukanie fryzjera na termin</a></li>
            <li><a href="/fryzjerzy">Lista fryzjerów</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <div id="content">
        <h2>
            {% block heading %}{% endblock %}
        </h2>
        {% block content %}{% endblock %}
    
    </div>
    <div id="footer">
        Mini-projekt do pracy magisterskiej <br>
        na Instytucie Informatyki Uniwersytetu Wrocławskieg<br>
        Copyright © Marek Brzóska, 2014 
    </div>
</div>
</html>
