{% extends 'base.html' %}

{% block content %}
    <ol>
        {% for hairdresser in hairdressers %}
            <li>
                <a href="{% url 'hairdresser' hairdresser.id %}">{{ hairdresser }}</a>
                ({{ hairdresser.cluster }})
            </li>
        {% endfor %}
    </ol>
{% endblock content %}

