{% extends 'base.html' %}

{% block content %}
    <p>
        {{ hairdresser.full_name }} ({{ hairdresser.short_name }})
    </p>
    <p>
    {% if timeline != None %}
        <form action="{% url 'hairdresser_availability' hairdresser.id %}">
            {{ search_periods_form }}
            <input type="submit" value="Pokaż najbliższe terminy">
        </a>
        <h3>Grafik</h3>
        <ol>
            {% for visit in timeline %}
                <li>
                    {{ visit }}
                </li>
            {% empty %}
                    Nie znaleziono grafiku
            {% endfor %}
        </ol>
    {% elif upcoming != None %}
        <h3>Najbliższe dostępne terminy:</h3>
        <ol>
            {% for date in upcoming %}
                <li>
                    {{ date }}
                    <a href="/rezerwuj wizyte/{{ hairdresser.id }}/{{ date|date:'Y-m-d' }}/{{ date|time:'H:i' }}/{{ duration }}/">Rezerwuj</a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    </p>
{% endblock content %}

