{% extends 'base.html' %}

{% block content %}
    <form>
        {{ form.as_p }}
        <input type="submit">
    </form>
    <ol>
        {% if form.is_valid %}
            {% for hairdresser in results %}
                <li>
                {{ hairdresser }} 
                ({{ hairdresser.cluster }})
                <a href="{% url 'reserve' hairdresser.id form.data.date form.data.time form.data.duration %}">
                    Zarezerwuj wizytę
                </a>
                </li>
            {% empty %}
                Niestety nikt nie jest wtedy dostępny... Sprawdź inny termin.
            {% endfor %}
        {% endif %}

    </ol>
{% endblock content %}
