{% extends 'base.html' %}

{% block content %}
    <ul>
        <li> Fryzjer: <a href="{% url 'hairdresser' hairdresser.id %}">{{ hairdresser }}</a></li>
        <li> Data: {{ date }}</li>
        <li> Godzina: {{ time }}</li>
        <li> Usługa {{ service }}</li>
        <li> Przewidywany czas trwania: {{ duration }} minut</li>
    </ul>

    <p>
        Wizyta: {{ visit }}
    </p>

    <p>
        {% if problem %}
            Nie można umowić tej wizyty. Rzecz w tym, że {{ problem }}. Przepraszamy za niedogodności.
        {% endif %}
    </p>

    <p>
        {% if confirmation_form %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="visit_id" value="{{ visit.id }}">
                {{ confirmation_form.as_table }}
                <input type="submit" value="Potwierdź rezerwację">
            </form>
        {% endif %}
    </p>

{% endblock content %}
