{% extends 'base.html' %}

{% block content %}
    <ul>
        <li> Fryzjer: <a href="{% url 'hairdresser' visit.subject.id %}">{{ visit.subject }}</a></li>
        <li> Data: {{ visit.start|date:"Y-m-d" }}</li>
        <li> Godzina: {{ visit.start|time:"H:i" }}</li>
        <li> Rezerwujący: {{ visit.name }}</li>
    </ul>

    <p>
    Zapisz link do rezewacji, by w przyszłości do niego wrócić...
    </p>
   

{% endblock content %}
